---
import Base from '../../layouts/Base.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts', ({ data }) => !data.draft);

  return allPosts.map((post) => {
    const slug = post.id.split('/').pop()!;
    return {
      params: { category: post.data.category, slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<Base title={post.data.title} description={post.data.description}>
  <article class="prose">
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</Base>
