---
import Base from '../layouts/Base.astro';
---
<Base title="About">
  <div class="prose">
    <h1>About</h1>
    <p>
      Challenging what I am told and telling what I learn.
    </p>
  </div>
</Base>
