---
import Base from '../layouts/Base.astro';
---
<Base title="Home">
  <div class="home-content">
    <p class="home-tagline">to begin to fill your cup you must first empty it</p>
    <nav class="home-categories">
      <a href="/on-leadership/">On Leadership</a>
      <a href="/on-war/">On War</a>
      <a href="/on-dealing-with-people/">On Dealing With People</a>
      <a href="/thoughts/">Thoughts</a>
      <a href="/quotes/">Quotes</a>
    </nav>
  </div>
</Base>
