---
interface Props {
  title: string;
  description?: string;
  date?: Date;
  href: string;
}

const { title, href } = Astro.props;
---
<article class="post-card">
  <a href={href}>{title}</a>
</article>
